/* Type your code here */
* {
    padding: 0% 0% 0% 2%;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: flex-end;
	padding: 1% 4%;
	padding-right: 50px;
	padding-top: 50px;
}
h1,h3{
	margin-left: 8 px;
}

h1 {
    font-size: 3.5em;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 2em;
    color: gray;
}

table {
    width: 55%;
    justify-content: center;
    font-size: 1.5em;
	padding: 5px;
	margin-left: 30 px;
    background-color: white;
}

td {
    margin: 0px;
    padding: 5px;
    text-align: left;
}

#tr1 {
    background-color: orangered;
    border-collapse: collapse;
    margin: 0px;
    padding: 5px;
    border: 0px solid #808080;
    text-align: left;
    font-size: 1.5em;
}

body {
    background-image: url(/assets/background-image1.png);
    background-repeat: no-repeat;
    background-position: right;
	right: 20px;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.table-container {
    font-size: 0.5em;
	display: flex;
	
}

a {
    color: blue;
    font: 15px solid;
    justify-content: left;
}

p {
    font: 15px solid;
    justify-content: left;
}

/* change the font family and spacing as per your project font */
.footer {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    position: relative;
    top: 59px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Nunito Sans;
    font-style: normal;
}
a{
	text-decoration: none;
}
th, td {
  border-bottom: 1px solid #ddd;
}
